body {
    margin: 0;
    padding: 0;
    max-width: 100vw; 
    overflow-x: hidden !important;
}

.contenedor-img img{
    height: 700px;
    width: 100%;
}

.contenedor-img2 img{
    position: absolute;
    top: 0;
    width: 30%;
    height: 190px;
}
.contenedor-columnas{
    /* flex: 0 0 450px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px;
    

}
.columnas{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: baseline;
    font-family: "Roboto Mono", monospace;
}
.columnas h3, 
.columnas h4:first-child {
    flex: 0 0 200px; 
    font-weight: bold;
    margin: 0;
}
.contenedor-informacion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -420px;
    /* text-align: center; */
    margin-right: 150px;
}
.contenedor-informacion, .parrafo{
    display: flex;
    justify-content: flex-end;
    letter-spacing: 0.5px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}
.subtitulo{
    display: flex;
    justify-content: center;
    margin-left: 520px;
    
}
.contenedor-abajo{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    
}
.contenedor-abajo, .sub{
    padding: 30px;
    justify-content: center;
    align-content: space-around;
    gap: 80px;
    background-color: black;
    color: white;
}
.contenedor-video{
    background: black;
    padding: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    background-size: cover;
}
.imagenes-fondo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background-color: black;
    padding: 70px;
}
.imagenes-fondo img{
    width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.imagen-zoom{
    transition: transform 0.3s;
}
.imagen-zoom:hover{
     transform: scale(1.3);
    position: relative;
    z-index: 10;
}
.parte-final{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items:center;
    font-family: "Roboto Mono", monospace;

}
a{
    color: rgb(246, 2, 2);
}
header {
    text-align: center; 
    padding: 10px;
}
header img {
    max-height: 50px; 
}



@media (max-width: 480px){
    .imagen-zoom:hover{
        transform: scale(1.7);
    }
    .parte-final{
        font-size: 8px;
    }
    .imagenes-fondo{
        padding: 15px;
    }
    .contenedor-video, iframe{
        height: 230px;
        margin-top: -17px;
    }
    .contenedor-abajo, .sub{
        padding: 0;
        margin: 0;
        margin-top: 16px;
        margin-bottom: 16px;

    }
    .contenedor-informacion, .subtitulo, .parrafo{
        display: flex;
        justify-content: center;
        font-size: 10px;
        margin: auto;
        padding-left: 15px;
    }
    .contenedor-img img{
        width: auto;
        height: 200px;
    }
    .contenedor-img2 img{
        width: 40%;
        height: 100px;
    }
    .contenedor-columnas{
        font-size: 10px;
        gap: 0px;
        align-content: center;
    }
    .columnas{
        gap: 0px;
    }
}
@media (max-width: 431px){
    .contenedor-img img{
        width: auto;
        height: 179px; 
        
    }
}

@media (max-width: 415px){
    .contenedor-img img{
        width: auto;
        height: 173px; 
        
    }
}
@media (max-width: 413px){
    .contenedor-img img{
        width: auto;
        height: 172px; 
        
    }
}
@media (max-width: 391px){
    .contenedor-img img{
        width: auto;
        height: 163px; 
        
    }
}

@media (max-width: 376px){
    .contenedor-img img{
        width: auto;
        height: 156px; 
        
    }
}
@media (max-width: 360px){
    .contenedor-img img{
        width: auto;
        height: 150px; 
        
    }
}
@media (max-width: 344px){
    .contenedor-img img{
        width: auto;
        height: 143px; 
        
    }
}