div{
          display: flex;
          flex-direction: column;
      }
      
      h3,h4{
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        
        color: black;
  }
      .subtitulo1, .subtitulo2, .subtitulo3, .subtitulo4, .subtitulo5, .subtitulo6, .subtitulo7{
        position: relative;
        top: auto;
        left: 100px;
        
      }

   h3, h4{
  display: inline-block; 
  vertical-align: middle; 
  margin: 5px; 
  display: flex;
        gap: 20px;
        flex-direction: row;
        position: relative;
        top: -30px;
        left: 400px;

} 

    body{
        margin: 0;
        padding: 0;
        }
     
    .imagen-fondo {
        width: 100%;     
        height: 500px;
    
}

    .imagen-encima {
        position: absolute; 
        top: 20px;          
        left: 20px;         
        width: 400px;       
} 