div {
  display: flex;
  flex-direction: column;
}
h4,
a {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
h3 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  color: black;
}

.subtitulo1 {
  margin-top: 50px;
}

.subtitulo1,
.subtitulo2,
.subtitulo3,
.subtitulo4,
.subtitulo5,
.subtitulo6,
.subtitulo7 {
  position: relative;
  top: auto;
  left: 100px;
}

.subtitulo12 {
  position: relative;
  top: -300px;
  left: 100px;
}
.parrafo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  line-height: 32px;
}

.parrafo,
.subtitulo8,
.subtitulo9,
.subtitulo10,
.subtitulo11 {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  top: -332px;
  left: 650px;
}
h3,
h4,
.imagen {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  position: relative;
  top: -30px;
  left: 400px;
}
.subtitulo13 {
  color: white;

  display: flex;
  top: -620px;
  left: 500px;
}
.subtitulo14 {
  color: white;
  display: flex;
  top: -680px;
  left: 1000px;
}

body {
  margin: 0;
  min-height: 800vh;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.imagen-fondo {
  line-height: 0;
}

.imagen-encima {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 400px;
}

a {
  color: red;
}
.contenedor-Videos {
  background: black;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -300px;
}
.subtitulo12 {
  color: white;
  background-color: #161a2e;
  margin-bottom: 0;
  width: 100%;
  padding: 40px;
  margin-left: -100px;
}
.imagen-izquierda {
  display: flex;
  position: absolute;
  top: 1100px;
  left: -140px;
  height: 900px;
  width: 800px;
}
.imagenes {
  position: relative;
  top: 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  background-color: black;
  padding: 70px;
  width: 1400px;
}
.imagenes img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.partefinal {
  align-items: center;
  color: black;
  position: relative;
  top: 200px;
}

.imagen-zoom {
  transition: transform 0.3s;
}

.imagen-zoom:hover {
  transform: scale(1.3);
  position: relative;
  z-index: 10;
}
